
@{
    ViewBag.Title = "Take";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>5 Cuốn sách mới nhất</h2>


@foreach (var latestBooks in Model)
{
    <div class="product_box margin_r40">
        <div class="image_wrapper">
            <a href="@Url.Action("Details", "BookStore", new { id = latestBooks.Masach })" target="_parent">
                <img alt="@latestBooks.Tensach" src="~/images/@latestBooks.Anhbia" width="200" />
            </a>
        </div>
        <h3>@latestBooks.Tensach</h3>
        <p class="price">Viewer: 15</p>
    </div>

    @*<div class="product_box">

            <div class="image_wrapper">
                <a href="@Url.Action("Details", "BookStore", new { id = latestBooks.Masach })" target="_parent">
                    <img alt="@latestBooks.Tensach" src="~/images/@latestBooks.Anhbia" width="200" />
                </a>
            </div>
            <h3>@latestBooks.Tensach</h3>
            <p class="price">Viewer: 15</p>

        </div>*@

}




